.detail-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  & > * {
    flex-basis: 33%;
    text-align: left;
    display: flex;
    align-items: center;
  }
}

.error-text {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  gap: 1rem;
}

.divider {
  margin-bottom: 1rem;
}

@media only screen and (max-width: 600px) {
  .detail-item {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .divider {
    margin: 2rem;
  }
}
