<h2 mat-dialog-title>All-in-one courier tracking app</h2>
<mat-dialog-content class="mat-typography">
  <p>Developed using: Angular, Angular Material</p>
  <p>
    Backend source:
    <a
      class="link"
      href="https://github.com/rajatdhoot123/indian-courier-api"
      target="_blank"
      >GitHub</a
    >
  </p>
  <p>
    App source:
    <a
      class="link"
      href="https://github.com/27ishita/Courier-Tracker"
      target="_blank"
      >GitHub</a
    >
  </p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Close</button>
</mat-dialog-actions>
